
#root {
  padding: 30px;
}
#submitted {
  visibility: hidden;
}
.Form {
  text-align: center;
  padding: 50px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.formdiv {
  padding: 1rem 2rem 2rem 1rem;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.form-control-inline {
  min-width: 0;
  width: auto;
  display: inline;
}
.panel-danger {
  display: none;
}
.control-label {
  width: 100%;
  background-color: rgb(212, 204, 204);
  font-weight: bold;
}
.form-control {
  width: 100%;
}
.field-description {
  width: 100%;
}